@media (max-width: 376px) {
 

}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */


  .hero-content .hero-content-details a {
  
    margin-top: 80px !important;
   
  }

  .about-section .container {
    flex-direction: column;
    padding: 12px !important;
  }

  
  .about-section .image-box img {
    max-width: 100%;
  }

  .about-section .about-details{
    margin-top: 12px;
  }
  

  .subscribe-section .container {
    flex-direction: column-reverse;

    padding: 12px !important;
  }

  .subscribe-section .image-box img {
    max-width: 100%;
  }

  .subscribe-section .subscribe-details{
    margin-bottom: 24px;
  }

  .subscribe-section .subscribe-details form button {
    display: block;
    width: 100%;
   
  }


  .lab-section .container {
    padding: 12px !important;
  }

  
  .lab-section .lab-container-details{
    width: 100%;
    padding: 12px;

  }

  .lab-section .box .image-box {
    border-radius: 20px;
    overflow: hidden;
    width: 100% !important;
  }


  .course-section .container {
    padding: 12px !important;

  }
  .course-section .course-container-details{
    width: 100%;
    padding: 12px;
  }

  .course-section .box .image-box {
    border-radius: 550px;
    overflow: hidden;
    width: 100% !important;

  }


  .testimonials-details {
    width: 100%;
    /* padding: 12px; */
  }

  .contact-section {
    padding: 12px !important;

  }

  .contact-section .contact-row {
   flex-direction: column;
  }

  .contact-section .contact-row .form-container {
    width: 100%;
    margin: 0 auto;
  }

  .contact-section .contact-row .map-container{
  margin-top: 80px !important;
}


  .info-section .info-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .info-section .info-box .info-contact {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }


  
}
